# Lab 2 Part 2

### Part a) Data Wrangling:


#### Importing Packages

In [1]:
import pandas as pd

#### 1. Dataset:

In [2]:
data = pd.read_csv('dataset.csv')
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

#### 2. Missing Data:

In [3]:
data.isnull()

     Unnamed: 0     TV  Radio  Newspaper  Sales
0         False  False  False      False  False
1         False  False  False      False  False
2         False  False  False      False  False
3         False  False  False      False  False
4         False  False  False      False  False
..          ...    ...    ...        ...    ...
195       False  False  False      False  False
196       False  False  False      False  False
197       False  False  False      False  False
198       False  False  False      False  False
199       False  False  False      False  False

[200 rows x 5 columns]

####  3. Categorize:

In [4]:
def categorize(row):
    if(row['Sales'] >= 15):
        return "high"
    elif(row['Sales'] < 15 and row['Sales'] >= 5):
        return "medium"
    else:
        return "low"

data.apply(lambda row: categorize(row), axis=1)

0        high
1      medium
2      medium
3        high
4      medium
        ...
195    medium
196    medium
197    medium
198      high
199    medium
Length: 200, dtype: object

####  4. Concatenation

In [5]:
data['Sales Type'] = data.apply(lambda row: categorize(row), axis=1)
data

     Unnamed: 0     TV  Radio  Newspaper  Sales Sales Type
0             1  230.1   37.8       69.2   22.1       high
1             2   44.5   39.3       45.1   10.4     medium
2             3   17.2   45.9       69.3    9.3     medium
3             4  151.5   41.3       58.5   18.5       high
4             5  180.8   10.8       58.4   12.9     medium
..          ...    ...    ...        ...    ...        ...
195         196   38.2    3.7       13.8    7.6     medium
196         197   94.2    4.9        8.1    9.7     medium
197         198  177.0    9.3        6.4   12.8     medium
198         199  283.6   42.0       66.2   25.5       high
199         200  232.1    8.6        8.7   13.4     medium

[200 rows x 6 columns]

#### 5. Groupby and Aggregation:

In [10]:
data_group = data.groupby('Sales Type')
data_group.first()

            Unnamed: 0     TV  Radio  Newspaper  Sales
Sales Type
high                 1  230.1   37.8       69.2   22.1
low                  9    8.6    2.1        1.0    4.8
medium               2   44.5   39.3       45.1   10.4

In [16]:
print("TV sum = ",data['TV'].sum())
print("TV mean = ",data['TV'].sum())
print("Newspaper sum = ",data['Newspaper'].sum())
print("Newspaper mean = ",data['Newspaper'].sum())
print("Radio sum = ",data['Radio'].sum())
print("Radio mean = ",data['Radio'].sum())

TV sum =  29408.5
TV mean =  29408.5
Newspaper sum =  6110.799999999999
Newspaper mean =  6110.799999999999
Radio sum =  4652.800000000001
Radio mean =  4652.800000000001

#### 6. Reshaping and Pivoting:

In [23]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales Sales Type
0           1  230.1   37.8       69.2   22.1       high
1           2   44.5   39.3       45.1   10.4     medium
2           3   17.2   45.9       69.3    9.3     medium
3           4  151.5   41.3       58.5   18.5       high
4           5  180.8   10.8       58.4   12.9     medium

In [24]:
df_stacked = data.stack() 
print(df_stacked.head(26))

0  Unnamed: 0         1
   TV             230.1
   Radio           37.8
   Newspaper       69.2
   Sales           22.1
   Sales Type      high
1  Unnamed: 0         2
   TV              44.5
   Radio           39.3
   Newspaper       45.1
   Sales           10.4
   Sales Type    medium
2  Unnamed: 0         3
   TV              17.2
   Radio           45.9
   Newspaper       69.3
   Sales            9.3
   Sales Type    medium
3  Unnamed: 0         4
   TV             151.5
   Radio           41.3
   Newspaper       58.5
   Sales           18.5
   Sales Type      high
4  Unnamed: 0         5
   TV             180.8
dtype: object

In [25]:
df_unstacked = df_stacked.unstack() 
print(df_unstacked.head(10))

  Unnamed: 0     TV Radio Newspaper Sales Sales Type
0          1  230.1  37.8      69.2  22.1       high
1          2   44.5  39.3      45.1  10.4     medium
2          3   17.2  45.9      69.3   9.3     medium
3          4  151.5  41.3      58.5  18.5       high
4          5  180.8  10.8      58.4  12.9     medium
5          6    8.7  48.9        75   7.2     medium
6          7   57.5  32.8      23.5  11.8     medium
7          8  120.2  19.6      11.6  13.2     medium
8          9    8.6   2.1         1   4.8        low
9         10  199.8   2.6      21.2  10.6     medium

### Part b) Data Modeling:

#### 7. Dataset:

#### 8. Fill in missing values:

#### 9. Normalization:

#### 10. Data Splitting:

#### 11. Linear Regression Training:

#### 12. Testing error:

#### 13. Playing with the Model: